html{height:100%;width:100%;}
body{
font-family:Arial, Helvetica, sans-serif;
background:-moz-linear-gradient(90deg, #a6a6a6 0%, #292929 75%, #1f1f1f 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f1f1f), color-stop(25%, #292929), color-stop(100%, #a6a6a6));
background:-webkit-linear-gradient(90deg, #a6a6a6 0%, #292929 75%, #1f1f1f 100%);
background:-o-linear-gradient(90deg, #a6a6a6 0%, #292929 75%, #1f1f1f 100%);
background:-ms-linear-gradient(90deg, #a6a6a6 0%, #292929 75%, #1f1f1f 100%);
background:linear-gradient(0deg, #a6a6a6 0%, #292929 75%, #1f1f1f 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f1f1f', endColorstr='#a6a6a6',GradientType=0);
padding-top:80px;
}


.content{
background-color:#a8a8a8;
border-radius:8px;
padding:8px 20px;
box-shadow:4px 4px 4px 4px #292929;
}

ul.ul{list-style-type:none;padding:0;}
ul.ul li{margin-bottom:8px;font-size:0.9em;padding:4px;border-radius:4px;cursor:pointer;}
ul.ul li:nth-child(odd){background-color:#808080;}
ul.ul li:nth-child(even){background-color:#9b9b9b;}
ul.ul li:hover{background-color:#87ccfa;}
ul.ul-nopointer li{cursor:default;}

.bigger{font-size:1.2em;font-weight:bold;}

.pointer{cursor:pointer;}
.redhover:hover{color:#ff0000 !important;text-decoration:line-through;}
.strike{text-decoration:line-through;}

#loading{
display:none;
opacity:0.8;
position:absolute;
bottom:0;
background-color:#a1d490;
}
#loading img{max-height:20px;margin-right:4px;}

/* Custom, iPhone Retina */ 
@media(max-width: 320px){
	
}

/* Extra Small Devices, Phones */ 
@media(max-width: 480px){
	.navbar-brand{font-size:0.7em;}
}

/* Small Devices, Tablets */
@media(min-width: 768px){
	div.login{width:60%;}
	#loading{border-top-left-radius:8px;}
	#loading img{margin-right:15px;}
}

/* Medium Devices, Desktops */
@media(min-width: 992px){
	div.login{width:40%;}
}

/* Large Devices, Wide Screens */
@media(min-width: 1200px){
	div.login{width:30%;}
}